# Test Report

| 🕙 Start time | ⌛ Duration |
| --- | ---: |
| 4/17/2024, 7:25:31 PM | 1.283 s |

| | ✅ Passed | ❌ Failed | ⏩ Skipped | 🚧 Todo | ⚪ Total |
| --- | ---: | ---: | ---: | ---: | ---: |
|Test Suites|2|0|0|0|2|
|Tests|3|0|0|0|3|

## ✅ <a id="file0" href="#file0">src/components/__tests__/HelloWorld.spec.ts</a> [[link](https://github.com/georgegigarib/cvproject/blob/7174e83a784363d1c08f889fb33b2e1c59add247/src/components/__tests__/HelloWorld.spec.ts)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 48 s

```
✅ HelloWorld
   ✅ renders properly
   ✅ has expected html structure
   ✅ should call toast when clicking on show toast button
```
